@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --off-black-800: #272727;
  --off-black-700: #505050;
  --off-black-600: #747474;
  --off-black-500: #747474;

  --off-white-100: #F7F5EE;
  --off-white-200: #EFEBDD;
  --off-white-300: #EFEBDD;
  

  --orange-dark-800: #471D02;
  --orange-800: #FF5C00;
  --orange-700: #FA7428;
  --orange-300: #FFD3B7;


  --min-width-no-padding: 316px;
  --min-width:320px;
  --max-width:1400px;

  --max-height: 1200px;

  --padding-128:128px;
  --padding-60:60px;
  --padding-22:22px;

}

html {
  scroll-snap-type: none;
  scroll-behavior: smooth;
  background-color: var(--off-black-800);
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

@font-face {
  font-family: "IDGSemi";
  src: url("./assets/IDGrotesk-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CGothic";
  src: url("./assets/GOTHICR.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CGothic";
  src: url("./assets/GOTHICB.TTF") format('truetype');
  font-weight: 700;
  font-style: normal;
}

p{
  font-size: 18px;
  color: var(--off-black-600);
  font-weight: 300;
}

button{
  border: none;
  border-bottom: 4px;
  color: var(--off-black-800);
  /* background-color: var(--off-white-100); */
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  font-family: "CGothic";

  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;

}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "CGothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

.p1 {
  font-size: 22px;

}

.p2 {
  font-size: 18px;
}



h1 {
  color: var(--off-white-100);
  font-family: "IDGSemi";
  font-size: 92px;
  line-height: 1.26;
  margin: 0;
}

h2 {
  font-family: "IDGSemi";
  font-size: 64px;
}

h3 {
  font-family: "IDGSemi";
  font-size: 32px;
}


figcaption {
  margin-top: 2px;
  color: #686868;
}


.bolden {
  font-weight: 700;
}

.letter-s1 {
  letter-spacing: 0.7px;
}

.space-4{
  height: 4px;
}

.space-8{
  height: 8px;
}

.space-16{
  height: 16px;
}

.space-32 {
  height: 32px;
}

.space-64{
  height: 64px;
}

.space-96{
  height: 96px;
}
.space-128{
  height: 128px;
}




.color-orange-dark{
  color: var(--orange-dark-800);
}

.whiten {
  color: var(--off-white-100);
}

.color-light-grey{
  color: var(--off-black-500);
}

.color-dark-grey{
  color: var(--off-black-800);
}

.off-black-800{
  color: var(--off-black-800);
}

.off-black-700{
  color: var(--off-black-700);
}

.off-white-100{
  color: var(--off-white-100);
}


.paragraph{
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}

.all-caps{
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* .justify-par{
  text-align: justify;
  text-justify: inter-word;
} */




html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}