@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --off-black-800: #272727;
  --off-black-600: #505050;
  --off-black-700: #474747;

  --off-white-100: #FFF2EB;
  --off-white-200: #F6F6F6;
  --off-white-300: #EFEBDD;


  --orange-800: #FF5C00;
  --orange-700: #FA7428;

  --min-width-no-padding: 316px;
  --min-width:360px;
  --max-width:1400px;

  --max-height: 1200px;

  --padding-128:128px;
  --padding-60:60px;
  --padding-22:22px;

  overflow-y: auto;
}

html {
  scroll-snap-type: none;
  scroll-behavior: smooth;
  overflow-y: auto;

}

@font-face {
  font-family: "IDGSemi";
  src: url("./assets/IDGrotesk-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

p{
  font-size: 18px;
  color: var(--off-white-100);
  font-weight: 300;
}

button{
  border: none;
  border-bottom: 4px;
  color: var(--off-black-800);
  /* background-color: var(--off-white-100); */
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  font-family: "Century Gothic";

  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p1 {
  font-size: 22px;
  color: var(--off-white-100);
}

.p2 {
  font-size: 18px;
  color: var(--off-white-100);
}

h1 {
  color: var(--off-white-100);
  font-family: "IDGSemi";
  font-size: 92px;
  line-height: 1.26;
  margin: 0;
}

h2 {
  color: var(--off-white-100);
  font-family: "IDGSemi";
  font-size: 32px;
}


figcaption {
  margin-top: 2px;
  color: #686868;
}


.bolden {
  font-weight: 600;
}

.letter-s1 {
  letter-spacing: 0.7px;
}

.space-32 {
  height: 32px;
}