@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --off-black-800: #0C1011;
  --off-black-600: #505050;
  --off-black-700:#474747;

  --off-white-100: #F7F5EE;
  --off-white-200: #F6F6F6;

  --orange-800: #FF5C00;
  --orange-700: #FA7428;
}

html{
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

a, a:visited, a:hover{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white-100);
}

.p1{
  font-size: 22px;
  color: var(--off-black-800);
}

.p2{
  font-size: 18px;
  color: var(--off-black-800);
}

h1{
  color: var(--off-black-800);
  font-family: "ID Grotesk";
  font-size: 112px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

h2{
  color: var(--off-black-800);
  font-family: "ID Grotesk";
  font-size: 32px;
  font-weight: 600;
}


.bolden{
  font-weight: 600;
}

.letter-s1{
  letter-spacing: 0.7px;
}

.space-32{
  height: 32px;
}